@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}



.home-background{
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.home-component{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title{
  font-size: 2.5em;
  color: white;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px rgba(0,0,0,0.5);

}

.home-search-btn{
  background: #44b5e2;
  color: #fff;
  border: 0;
  padding: 0.6em;
  border-radius: 0.3em;
  cursor: pointer;
  text-decoration: none;
}

.home-search-btn:hover{
  background: #0190c9;
}

.home-account-btn{
  margin-left: 1em;
  background: #2f667c;
  color: #fff;
  border: 0;
  padding: 0.6em;
  border-radius: 0.3em;
  cursor: pointer;
  text-decoration: none;
}

.home-account-btn:hover{
  background: #064c68;
}

.navbar h1{
  color: #20a5da;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding-right: 12px;
  padding-left: 5px;
}

.navbar a:hover{
  color: #20a5da;
}

.logout-btn {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.logout-btn:hover{
  cursor: pointer;
  color: #20a5da;
}

.links{
  margin-left: auto;
}

.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results img{
  max-height: fit-content;
  max-width: auto;
}

.recipes-found{
  margin: 1em 2em;
}

.recipe-card {
  padding: 1em;
  margin: 1em;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
  display: flex;  
  flex-direction: column;
}

/* .details-link{
  margin-left: auto;
  border: 1px solid black;
} */

.preview{
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  margin-top: auto;
}

.preview img{
  margin-top: 0.5em;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.details-link{
  text-align: end;
  margin-top: 0.5em;
  text-decoration: none;
}

.details-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.loading{
  text-align: center;
  margin-top: 2em;
}


.expanded-card{
  padding: 1em;
  margin: 0.5em;
  width:80%;
  max-height: auto;
  display: flex;  
  
}

.search{
  text-align: center;
  /* display:flex;
  flex-direction: column;
  align-items: center; */
}
/* .search h1{
  text-align: center;
}

.search form{
  text-align: center;
} */

.search input{
  width: 40%;
  padding: 0.5em 1em;
  margin: 2em 0.5em 0.5em 0;
  border: 1px solid #ddd;
  border-radius: 0.3em;
}

.search select{
  width: 20%;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: 1px solid #ddd;
  border-radius: 0.3em;
  
}

.filter-text:hover{
  text-decoration: underline;
  cursor: pointer;
}

.filters{
  border-radius: 0.5em;
  background-color: #52bde73f;
  padding: 0 2em;
  width:fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left:auto;
  margin-right: auto;  
}

.filters section{
  text-align: end;
}

.filters select{
  width:45%;
}

.filters label{
  float:left;
  margin-top: 2em;
}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination p{
  margin: 1em;
}

.pagination p:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* .pageNav{
  margin: 1em;
  background: #52bde7;
  color: #fff;
  border: 0;
  padding: 0.6em;
  border-radius: 0.3em;
  cursor: pointer;
}

.pageNum{
  margin: 1em;
  padding: 0.6em;
  text-decoration: underline;
} */

.basic-btn{
  background: #52bde7;
  color: #fff;
  border: 0;
  padding: 0.6em;
  border-radius: 0.3em;
  cursor: pointer;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.detail-title{
  font-size: 2em;
  margin-bottom: 1em;
}

.header-btn{
  height:fit-content;
  background: #189fd4;
  color: #fff;
  border: 0;
  padding: 0.15em 0.4em;
  border-radius: 0.3em;
  cursor: pointer;
}
.header-btn:hover{
  color: #bee0ee;
}

.already-added{
  background: #189fd465;
  color: #fff;
  border: 0;
  padding: 0.15em 0.4em;
  border-radius: 0.3em;
}

.ingredient-section{
  margin-top: 1em;
}

.ingredients{
  margin-left: 1em;
}

.health-label{
  background: #52bde7e7;
  color:#fff;
  padding: 0.3em;
  border-radius: 0.5em;
  margin: 0.5em 0.5em;
  padding: 0.2em 1em;
}

.health-labels{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-details{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left:auto;
  margin-right: auto;  
}

.details{
  display: flex;
  flex-direction: column;
  
}

.recipe-url{
  text-decoration: none;
  width: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  background: #52bde7;
  color: #fff;
  border: 0;
  padding: 0.6em;
  border-radius: 0.3em;
  cursor: pointer;
  
}

.back-btn{
  display: flex;
}

.prev-search{
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.prev-search:hover{
  text-decoration: underline;
  cursor: pointer;
}

.my-recipes-title{
  margin-bottom: 1em;
  text-align: center;
}

.my-recipe-card{
  padding: 1em;
  margin: 1em;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
  display: flex;  
  flex-direction: column;
}

.my-recipe-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-recipe-list h2{
  margin-bottom: 0.5em;
}

.my-recipe-list img{
  max-height: fit-content;
  max-width: auto;
}

.my-recipes-preview{
  display: flex;
  align-items: center;
}

.my-health-label{
  background: #52bde7e7;
  color:#fff;
  padding: 0.3em;
  border-radius: 0.5em;
  margin: 0.5em 0.5em;
  padding: 0.2em 1em;
}

.my-health-labels{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0.5em;
}

.expand{
  margin-left: auto;
}

.expand:hover{
  text-decoration: underline;
  cursor:pointer;
}

.form-header{
  text-align: center;
  
}

.page-num{
  margin-left: 1em;
}
.page-num:hover{
  text-decoration: underline;
  cursor: pointer;
}

.current-page{
  margin-left: 3em;
  margin-right: auto;
}

.my-pagination{
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.user-form{
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 0 2em;
}

.input{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.input label{
  margin-right: 1em;
}

.submit-btn{
  margin-left:auto;
  margin-bottom: 1em;
  background: #189fd4;
  color: #fff;
  border: 0;
  padding: 0.15em 0.4em;
  border-radius: 0.3em;
  cursor: pointer;
}

.error-msg{
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 0 1em;
  border: 1px solid red;
  border-radius: 0.5em;
  background-color: lightpink
}

@media screen and (max-width: 600px) {
  .body{
    max-width: 100%;
    margin: auto;
    padding: 0 10px; 
  }
  .navbar{
    text-align: center;
    width: 90%;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
  }
  .navbar h1{
    padding-bottom: 0.5em;
    margin: 0.5em 0;
    border-bottom: 1px solid #11567473;
  }
  .links{
    margin-right: auto;
  }
  .search{
    margin-top: 2em;
  }
  .search-results{
    flex-direction: column;
  }
  .recipe-card {
    max-width: 90%;
  }
 .search-link, .my-recipes-link, .login-link{
    border-right:1px solid #11567473; 
  }
  .recipes-found{
    margin: 0.7em 0.7em;
  }
  .my-recipes-preview{
    flex-direction: column;
  }
  .my-health-labels{
    visibility: hidden;
    display: none;
  }
  .recipe-details{
    max-width: 90%;
  }
  .home-title{
    text-align: center;
    margin: 0.5em 0.25em;
  }
  .input label{
    margin-right: 0.1em;
  }
}

@media (min-width: 600px) {
  .body{
    max-width:60%;
    margin: 0 auto;
  }
  .navbar{
    max-width: 55%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aab7bb;
  }
  .recipe-card {
    max-width: 20%;
  }
  .recipe-details{
    max-width: 60%;
  }
}